.logos {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.content {
    padding: 16px;
}

.topnav {
    overflow: hidden;
    position: fixed;
    background-color:bisque;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.navbutton {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.footer {
    background-color: #afafff;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

body {
    background-color: #ffe4e4;
    margin: 2rem;
}