.logos {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.content {
    padding: 16px;
}

.topnav {
    overflow: hidden;
    position: fixed;
    background-color:bisque;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    margin-top: 1rem;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.navbutton {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.footer {
    background-color: #afafff;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

body {
    background-color: #ffe4e4;
    font-family:-apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
    font-size:16px;
    /*! line-height:1.5; */
    word-wrap:break-word;
}