.logos {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.content {
    padding-top: 50px;
    padding-left: 16px;
}
.footer {
    background-color: #afafff;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body {
    font-family:-apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
    font-size:16px;
    /*! line-height:1.5; */
    word-wrap:break-word;
}
.heading {
    font-size: 2rem;
    font-weight: bold;
    color: #04AA6D;
    text-align: center;
}

.subheading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #04AA6D;
    text-align: center;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 600px) {
     .topnav a:not(:first-child) {
         display: none;
     }

     .topnav a.icon {
         float: right;
         display: block;
     }
 }

 .navigation {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin-top: 1rem;
 }

 .logo {
     width: 20px;
     height: 20px;
     margin-right: 1rem;
 }

 .searchbar {
     width: 100%;
     height: 50px;
     border-radius: 25px;
     border: 1px solid #04AA6D;
     padding: 0px 20px;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .items {
     display: flex;
 }
.item {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #04AA6D;
    padding: 0px 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }